.cat-info {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media screen and (min-width: 768px) {
  .cat-info {
    flex-direction: row;
  }
}

.cat-info-descr-descr,
.cat-info-descr-tempr {
  line-height: 150%;
}
